<div class="main-content">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center ">
            <div class="col-lg-3 d-flex align-self-center">
                <mat-card class="iniciar-turno">
                    <mat-card-title>Iniciar Turno</mat-card-title>
                    <mat-card-subtitle>Registra el valor que recibes al iniciar el turno para poder ver las habitaciones
                    </mat-card-subtitle>
                    <mat-card-content>
                        <mat-form-field class="example-form-field" appearance="fill">
                            <input matInput [formControl]="saldoInicial" type="text" [inputMask]="currencyInputMask">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button (click)="iniciarTurno()">Iniciar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>