<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <mat-card class="iniciar-turno">
                    <mat-card-title>Cerrar Turno</mat-card-title>
                    <mat-card-subtitle>Reporte de movimientos
                    </mat-card-subtitle>
                    <mat-card-content>
                        Saldo final: $0
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button (click)="cerrarTurno()">Iniciar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>