<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-lime">
                        <th>#</th>
                        <th class="text-center">Camas</th>
                        <th class="text-center">Aire</th>
                        <th class="text-center width40porc">Precio</th>
                        <th class="text-center" colspan="2">Acciones</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let habitacion of habitaciones">
                            <td [ngClass]="!habitacion.ocupada? 'text-success' : 'text-danger'">{{
                                habitacion.numero
                                }}</td>
                            <td>
                                <span *ngIf="habitacion.cama1m"><strong>{{habitacion.cama1m}}</strong> de 1mt
                                    <br></span>
                                <span *ngIf="habitacion.cama140m"><strong>{{habitacion.cama140m}}</strong> de
                                    1.40 mt <br></span>
                                <span *ngIf="habitacion.cama160m"><strong>{{habitacion.cama160m}}</strong> de
                                    1.60 mt</span>
                            </td>
                            <td class="text-center"><i *ngIf="habitacion.aire"
                                    class="material-icons aire">check_circle</i></td>
                            <td>
                                <mat-expansion-panel class="explicacion-precios">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Explicación de precios
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <ul>
                                        <li *ngFor="let precio of habitacion.precios">
                                            {{precio.cantidadPersonas}}
                                            <span *ngIf="precio.precioPorPersona"> o más </span>
                                            persona<span *ngIf="precio.cantidadPersonas>1">s</span>
                                            <span *ngIf="precio.esAdicional"> adicional </span>
                                            {{precio.precio|currency:'COP':'symbol-narrow':'0.0-0'}}
                                            <span *ngIf="precio.precioPorPersona"> por persona </span>
                                            <span *ngIf="precio.aire; else elseBlock">con aire</span>
                                            <ng-template #elseBlock>sin aire</ng-template>
                                        </li>
                                    </ul>
                                </mat-expansion-panel>

                            </td>
                            <td class="text-center">
                                <button mat-button [matTooltip]="'Ver habitación ' + habitacion.numero"
                                    matTooltipPosition="before">
                                    <i class="material-icons">preview</i>
                                </button>
                            </td>
                            <td class="text-center">
                                <button mat-button *ngIf="!habitacion.ocupada; else salirBlock"
                                    matTooltipPosition="after"
                                    [matTooltip]="'Ingresar huesped a la habitación ' + habitacion.numero"
                                    [routerLink]="'/habitacion/ingresar-huesped/'+habitacion.numero">
                                    <i class="material-icons">input</i>
                                </button>
                                <ng-template #salirBlock>
                                    <button mat-button (click)="entregar(habitacion)" matTooltipPosition="after"
                                        [matTooltip]="'Entregar la habitación ' + habitacion.numero">
                                        <i class="material-icons">logout</i>
                                    </button>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>