<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-lime">
                        <th>#</th>
                        <th class="text-center">Camas</th>
                        <th class="text-center">Aire</th>
                        <th class="text-center">Saldo</th>
                        <th class="text-center" colspan="2">Acciones</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let habitacion of habitaciones">
                            <td [ngClass]="{'text-danger': habitacion.estado == 'ocupada',
                            'text-basic': habitacion.estado  == 'desocupada',
                            'text-info': habitacion.estado  == 'aseo'}">
                                {{
                                habitacion.numero
                                }}</td>
                            <td>
                                <span *ngIf="habitacion.cama1m"><strong>{{habitacion.cama1m}}</strong> de 1mt
                                    <br></span>
                                <span *ngIf="habitacion.cama140m"><strong>{{habitacion.cama140m}}</strong> de
                                    1.40 mt <br></span>
                                <span *ngIf="habitacion.cama160m"><strong>{{habitacion.cama160m}}</strong> de
                                    1.60 mt</span>
                            </td>
                            <td class="text-center"><i *ngIf="habitacion.aire"
                                    class="material-icons aire">check_circle</i>
                            </td>
                            <td>
                                Saldo adeudado
                            </td>
                            <td class="text-center">
                                <button mat-button *ngIf="habitacion.estado  == 'aseo'" matTooltipPosition="after"
                                    [matTooltip]="'Marcar habitación como aseada'">
                                    <span class="material-icons">
                                        cleaning_services
                                    </span>
                                </button>
                            </td>
                            <td class="text-center">
                                <button mat-button *ngIf="habitacion.estado  != 'ocupada'; else salirBlock"
                                    matTooltipPosition="after"
                                    [matTooltip]="'Ingresar huesped a la habitación ' + habitacion.numero"
                                    [routerLink]="'/habitacion/ingresar-huesped/'+habitacion.numero">
                                    <i class="material-icons">input</i>
                                </button>
                                <ng-template #salirBlock>
                                    <button mat-button (click)="entregar(habitacion)" matTooltipPosition="after"
                                        [matTooltip]="'Entregar la habitación ' + habitacion.numero">
                                        <i class="material-icons">logout</i>
                                    </button>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>