<div class="row justify-content-md-center">
    <div class="col-md-4">
        <mat-form-field appearance="fill">
            <mat-label>Número de habitación</mat-label>
            <mat-select>
                <mat-option value="101">101</mat-option>
                <mat-option value="201">201</mat-option>
                <mat-option value="202">202</mat-option>
            </mat-select>
            
        </mat-form-field>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <p>Capacidad ## personas</p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <mat-slide-toggle color="primary">Aire acondicionado</mat-slide-toggle>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Colchonetas adicionales</mat-label>
            <input matInput type="text">
            <button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Toallas adicionales</mat-label>
            <input matInput type="text">
            <button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Cobijas adicionales</mat-label>
            <input matInput type="text">
            <button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>