<div class="container ">
    <div class="row ">
        <div class="col-md-6 ">
            <div class="row justify-content-center vh-100">
                <div class="col-md-8 align-self-center">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Ingresar al sistema</h4>
                        </div>
                        <div class="card-body">
                            <p>
                                <mat-form-field class=" " appearance="fill">
                                    <mat-label>Nombre de Usuario</mat-label>
                                    <input matInput formControlName="nombreUsuario" type="text">
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class=" " appearance="fill">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput formControlName="password" type="text">
                                </mat-form-field>
                            </p>
                            <p class="text-right">
                                <button mat-raised-button class="float-right" type="submit">Ingresar</button>
                                <a mat-button href="https://www.google.com/" class="text-right"
                                    target="_blank">Recuperar contraseña</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 fondo-login vh-100">
        </div>
    </div>
</div>