<br>
<mat-card class="example-card">
    <mat-card-title>Resumen de hospedaje</mat-card-title>
    <mat-card-subtitle>## adultos y ## niños, ## toallas, ## colchonetas adicionales</mat-card-subtitle>
    <mat-card-content>
        <p>Valor día: <strong>##</strong><br>Días de hospedaje: <strong>##</strong>
            , fecha de salida: <strong>dd-mm-aaaa hh:mm</strong> <br>
            <small> Luego de xx horas se cobrara adicional</small></p>
        <p class="text-align-right">Total: <strong></strong></p>
    </mat-card-content>
    <mat-card-actions class="clearfix">
        <button mat-stroked-button class="float-left"  routerLink="/dashboard">Cancelar</button>
        <button mat-stroked-button class="float-right" color="primary">Confirmar</button>
    </mat-card-actions>
</mat-card>